*{
    margin: 0;
    padding: 0;
}

.galeria {
    height: 472px;
    width: 640px;
    margin: 1em auto;
    border: 1px solid #555;
    position: relative;
}

.galeria img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 3s;
}

.galeria input[type="radio"] {
    position: relative;
    top: 438px;
    margin-left: 120px;
}

.galeria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
    opacity: 1;
  }
  
  .galeria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
    opacity: 1;
  }
  
  .galeria input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
    opacity: 1;
  }
  
  .galeria input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
    opacity: 1;
  }
  